html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header h1 {
    background-image: linear-gradient(#979797, #ffffff, #979797);
    padding: 1em 0 1em 0;
    text-align: center;

}