.fadeOut {
   opacity: 1;
   transition: opacity .8s ease-in-out;
   -moz-transition: opacity .8s ease-in-out;
   -webkit-transition: opacity .8s ease-in-out;
   }

.fadeIn {
   opacity: 0;
}

#app {
   width: 550px;
   margin-top: 2em;
   text-align: center;
}

img {
   max-width: 100%;
}